<div class="container py-5">
  <div class="row mb-5">
    <div class="col text-center">
      <h1 class="display-4 mb-4 feature-title">Sistema de Censo</h1>
      <p class="lead text-secondary">Gestiona y procesa información relacionada con el censo de comunidades indigenas
      </p>
    </div>
  </div>

  <div class="row">

    <!-- Feature Card 1 -->
    <div class="col-12">
      <a href="/process_censo" class="feature-link">
        <div class="feature-card">
          <div class="feature-icon">
            <i class="bi bi-graph-up"></i>
          </div>
          <h3 class="feature-title">Procesar censo</h3>
          <p class="feature-description">Convierte archivos de Excel a JSON o tabla</p>
        </div>
      </a>
    </div>

    <!-- Feature Card 2 -->
    <div class="col-12">
      <a href="/process_renta" class="feature-link">
        <div class="feature-card">
          <div class="feature-icon">
            <i class="bi bi-lightning"></i>
          </div>
          <h3 class="feature-title">Procesar Renta ciudadana</h3>
          <p class="feature-description">Convierte archivos de Excel a JSON o tabla</p>
        </div>
      </a>
    </div>
  </div>
</div>