<header>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/process_censo">Procesar censo</a></li>
      <li><a href="/process_renta">Procesar Renta ciudadana</a></li>
    </ul>
  </nav>
</header>
